@import './reset.scss';

@mixin desktop {
    @media (min-width: 1400px) {
        @content;
    }
}

$types: 'alkaliMetal',
'lanthanide',
'nobleGas',
'transitionMetal',
'postTransitionMetal',
'alkalineEarthMetal',
'actinide',
'metalloid',
'otherNonMetal';

body {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(100px, 1fr));
    grid-gap: 10px;
    padding: 10px;
    font-size: 10px;

    @include desktop {
        grid-template-columns: repeat(18, 1fr);
        grid-template-rows: repeat(5, 1fr);
    }
}



.el {
    background: lightgray;
    height: 150px;

    @include desktop {
        height: 100px;
    }

    @for $i from 1 through length($types) {
        $type: nth($types, $i);

        $color: hsl(random(255) 100% 40%);

        &--#{$type} {
            background: $color;
        }
    }

}