@import './reset.scss';

* {
    box-sizing: border-box;
}

@mixin desktop {
    @media (min-width: 1400px) {
        @content;
    }
}

$types: 'alkaliMetal',
'lanthanide',
'nobleGas',
'transitionMetal',
'postTransitionMetal',
'alkalineEarthMetal',
'actinide',
'metalloid',
'otherNonMetal';

body {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(100px, 1fr));
    grid-gap: 10px;
    padding: 10px;
    font-size: 10px;
    min-height: 100vh;

    @include desktop {
        grid-template-rows: repeat(7, 1fr);
        grid-template-columns: repeat(18, 1fr);

        @for $a from 1 through 7 {

            article[data-period="#{$a}"] {
                grid-row: $a;
            }

        }

        @for $a from 1 through 18 {

            article[data-group="#{$a}"] {
                grid-column: $a;
            }

        }
    }
}

.el {
    background: lightgray;
    height: 150px;

    @include desktop {
        height: 100px;
    }

    @for $i from 1 through length($types) {
        $type: nth($types, $i);
        $index: index($types, $type);
        $color: hsl($index* ((360deg/length($types))) 45% 65%);


        &--#{$type} {
            background: $color;
        }
    }

}