.identity {
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    margin: 6px 16px 0;

    &__name {
        font-weight: bold;
        font-size: 20px;
    }

    &__life {
        color: #FF4500;
        font-size: 20px;
    }
}